:root {
    background: #000 url('../src/img/bckgrd2.jpg') no-repeat center center fixed;
    background-color: #ecf5ff;
    font-size: 62.5%; 
    --buttons-color :#FA6009;
}

* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* color: #333; */
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: #56a5eb;
    margin-bottom: 5rem;
}

h1 > span {
    font-weight: 500;
    color: #56a5eb;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
    text-align: center;
    color: var(--buttons-color);
    
}

h3 {
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--buttons-color);
    margin: 2rem 0;
    text-transform: uppercase;
}

h4 {
    font-size: 1.5rem;
    font-weight: 200;
    color:white;
    margin: 2rem 0;
    text-transform: uppercase;
}

/* utilites */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* buttons */

.btn {
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid var(--buttons-color);
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background-color: var(--buttons-color);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(235, 102, 49, 0.966);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn:focus {
    outline: none;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform:none;
}

/* forms */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type='text'] {
    
    margin-bottom: 1rem;
    width: 25rem;
    padding: 0.75rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0  rgba(235, 102, 49, 0.966);
}

input::placeholder {
    color: #aaa;
}

input:focus {
    outline: none;
}