.time_head{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 3%;
    display: flex;
    justify-content: space-around;
}
.time_head p{
    color: black;
    font-size: large;
    font-weight: bold;
} 

.time_body{
   
    height: 25%;
    display: flex;
    justify-content: space-around;
}

.white_time{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 40%;
    height: 100%;
    background-color:#e3941e;
}

.black_time{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 40%;
    height: 100%;
    background-color:#7e2349;
}
.black_time p{
    color: wheat;
    font-size: large;
}
.white_time p{
    color: whitesmoke;
    font-size: large;
}
.dead-black-figures{
    color: white;
    position: absolute;
    top: -35px;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
}
.dead-white-figures{
    color: white;
    position: absolute;
    bottom: -15px;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
   
}
.dead-figures{
    width: 100%;
}
.dead-white-figures img,.dead-black-figures img{
    width: 40px;
    height: auto;
}


.results{
    width: 96%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}
.results p{
    font-size: 2rem;
    font-weight: bold;
    color:red;
}
.info{
    display: flex;
    justify-content: space-around;
}